<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Car Clinic: Home</title>
  <link rel="icon" href="/img/car.png" type="image/icon type">
  <!-- Latest compiled and minified CSS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/service.css">
  <link rel="stylesheet" href="/css/header.css">
  <script src="https://kit.fontawesome.com/bad698ad11.js" crossorigin="anonymous"></script>
  <style>
    #serv {
      margin-left: 20px;
    }

    #rep {
      margin-left: 20px;
    }

    .card {
      -webkit-box-shadow: 0 7px 4px #777;
      -moz-box-shadow: 0 7px 4px #777;
      box-shadow: 0 7px 10px #777;
    }

    #end {
      margin-left: 2%;
    }

    footer div {
      background: #cccccc;
      ;
    }
  </style>
</head>

<body>
  <script>
    if (sessionStorage.getItem('token') == null || sessionStorage.getItem('token') == "null")
      location.replace("http://localhost:3000/login")
  </script>
  <nav>
    <div class="logo">
      <div class="menu-icon">
        <img src="/img/car.png" width="50" height="50" height="50" id="limg">
        <div id="brand">Car Clinic</div>
        <div id="list1">
          <a href="http://localhost:3000/cart"><i class="fas fa-shopping-cart fa-2x" id="cart"></i><span class="badge"
              id="cartno">0</span></a>
        </div>

      </div>

    </div>
    <ul class="nav-links">

      <li>
        <a href="http://localhost:3000/myorder">My Orders</a>
      </li>
      <li>
        <a href="http://localhost:3000/vehicledisplay">My Vehicle</a>
      </li>
      <li>
        <a href="http://localhost:3000/account">My Account</a>
      </li>
      <li>
        <a href="http://localhost:3000/review">Reviews</a>
      </li>
      </li>
      <li>
        <a href="http://localhost:3000/about">About Us</a>
      </li>
      <li>
        <a href="http://localhost:3000/contact/us">Contact Us</a>
      </li>
      <li>
        <a href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
      </li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>

  </nav>
  <br><br>
  <h2 id="serv">
    Services
  </h2>
  <hr><br><br>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4" id="item">
        <div class="card" style="width:350px">
          <img class="card-img-top" src="#" width=0 height=0 id="i1">
          <div class="card-body">
            <h4 class="card-title" id="head1"></h4>
            <p class="card-text" id="price1"></p>
            <a href="/" role="button" class="btn btn-sm btn-dark float-right" id="button1" data-toggle="modal"
              data-target="#myModal">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-6 col-lg-4" id="item">
        <div class="card" style="width:350px">
          <img class="card-img-top" src="#" width=0 height=0 id="i2">
          <div class="card-body">
            <h4 class="card-title" id="head2"></h4>
            <p class="card-text" id="price2"></p>
            <a href="/" role="button" class="btn btn-sm btn-dark float-right" id="button15" data-toggle="modal"
              data-target="#myModal">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-6 col-lg-4">
        <div class="card" style="width:350px">
          <img class="card-img-top" src="#" width=0 height=0 id="i3">
          <div class="card-body">
            <h4 class="card-title" id="head3"></h4>
            <p class="card-text" id="price3"></p>
            <a href="/" role="button" class="btn btn-sm btn-dark float-right" id="button2" data-toggle="modal"
              data-target="#myModal">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
  <h2 id="rep">
    Replacement
  </h2>
  <hr><br><br>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4">
        <div class="card" style="width:350px">
          <img class="card-img-top" src="#" width=0 height=0 id="i4">
          <div class="card-body">
            <h4 class="card-title" id="head4"></h4>
            <p class="card-text" id="price4"></p>
            <a href="/" role="button" class="btn btn-sm btn-dark float-right" id="button3" data-toggle="modal"
              data-target="#myModal">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-6 col-lg-4">
        <div class="card" style="width:350px">
          <img class="card-img-top" src="#" width=0 height=0 id="i5">
          <div class="card-body">
            <h4 class="card-title" id="head5"></h4>
            <p class="card-text" id="price5"></p>
            <a href="/" role="button" class="btn btn-sm btn-dark float-right" id="button4" data-toggle="modal"
              data-target="#myModal">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-6 col-lg-4">
        <div class="card" style="width:350px">
          <img class="card-img-top" src="#" width=0 height=0 id="i6">
          <div class="card-body">
            <h4 class="card-title" id="head6"></h4>
            <p class="card-text" id="price6"></p>
            <a href="/" role="button" class="btn btn-sm btn-dark float-right" id="button5" data-toggle="modal"
              data-target="#myModal">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4">
        <div class="card" style="width:350px">
          <img class="card-img-top" src="#" width=0 height=0 id="i7">
          <div class="card-body">
            <h4 class="card-title" id="head7"></h4>
            <p class="card-text" id="price7"></p>
            <a href="/" role="button" class="btn btn-sm btn-dark float-right" id="button6" data-toggle="modal"
              data-target="#myModal">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-6 col-lg-4">
        <div class="card" style="width:350px">
          <img class="card-img-top" src="#" width=0 height=0 id="i8">
          <div class="card-body">
            <h4 class="card-title" id="head8"></h4>
            <p class="card-text" id="price8"></p>
            <a href="/" role="button" class="btn btn-sm btn-dark float-right" id="button7" data-toggle="modal"
              data-target="#myModal">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-6 col-lg-4">
        <div class="card" style="width:350px">
          <img class="card-img-top" src="#" width=0 height=0 id="i9">
          <div class="card-body">
            <h4 class="card-title" id="head9"></h4>
            <p class="card-text" id="price9"></p>
            <a href="/" role="button" class="btn btn-sm btn-dark float-right" id="button8" data-toggle="modal"
              data-target="#myModal">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4">
        <div class="card" style="width:350px">
          <img class="card-img-top" src="#" width=0 height=0 id="i10">
          <div class="card-body">
            <h4 class="card-title" id="head10"></h4>
            <p class="card-text" id="price10"></p>
            <a href="/" role="button" class="btn btn-sm btn-dark float-right" id="button9" data-toggle="modal"
              data-target="#myModal">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-6 col-lg-4">
        <div class="card" style="width:350px">
          <img class="card-img-top" src="#" width=0 height=0 id="i11">
          <div class="card-body">
            <h4 class="card-title" id="head11"></h4>
            <p class="card-text" id="price11"></p>
            <a href="/" role="button" class="btn btn-sm btn-dark float-right" id="button10" data-toggle="modal"
              data-target="#myModal">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-6 col-lg-4">
        <div class="card" style="width:350px">
          <img class="card-img-top" src="#" width=0 height=0 id="i12">
          <div class="card-body">
            <h4 class="card-title" id="head12"></h4>
            <p class="card-text" id="price12"></p>
            <a href="/" role="button" class="btn btn-sm btn-dark float-right" id="button11" data-toggle="modal"
              data-target="#myModal">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4">
        <div class="card" style="width:350px">
          <img class="card-img-top" src="#" width=0 height=0 id="i13">
          <div class="card-body">
            <h4 class="card-title" id="head13"></h4>
            <p class="card-text" id="price13"></p>
            <a href="/" role="button" class="btn btn-sm btn-dark float-right" id="button12" data-toggle="modal"
              data-target="#myModal">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-6 col-lg-4">
        <div class="card" style="width:350px">
          <img class="card-img-top" src="#" width=0 height=0 id="i14">
          <div class="card-body">
            <h4 class="card-title" id="head14"></h4>
            <p class="card-text" id="price14"></p>
            <a href="/" role="button" class="btn btn-sm btn-dark float-right" id="button13" data-toggle="modal"
              data-target="#myModal">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-6 col-lg-4">
        <div class="card" style="width:350px">
          <img class="card-img-top" src="#" width=0 height=0 id="i15">
          <div class="card-body">
            <h4 class="card-title" id="head15"></h4>
            <p class="card-text" id="price15"></p>
            <a href="/" role="button" class="btn btn-sm btn-dark float-right" id="button14" data-toggle="modal"
              data-target="#myModal">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div><br><br>
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Message</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Item added to cart Successfully
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal" id="logoutModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Message</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to logout?
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" id="yes">Yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" id="no">No</button>
        </div>

      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="page-footer font-small blue" style="position: static;">
    <p id="end"><strong>*Any items ordered in excess than what can be replaced would given to you during the delivery of
        your vehicle</strong></p>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: orange;color:white">© 2019
      Copyright:CarClinic.com
    </div>
    <!-- Copyright -->

  </footer>
  <script src="/js/header.js"></script>
  <script src="/js/service.js"></script>
  <script src="js/AddToCart.js"></script>
</body>

</html>