<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Clinic: Register</title>
    <link rel="icon" href="/img/car.png" type="image/icon type">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/register.css">
</head>
<body>
  <div id="demo" class="carousel slide" data-ride="carousel" data-pause="false" data-interval="2500">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
    <li data-target="#demo" data-slide-to="5"></li>
    <li data-target="#demo" data-slide-to="6"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/h1.jpg" class="car">
    </div>
    <div class="carousel-item">
      <img src="/img/h2.jpg" class="car">
    </div>
    <div class="carousel-item">
      <img src="/img/h3.jpg" class="car">
    </div>
    <div class="carousel-item">
      <img src="/img/h4.jpg" class="car">
    </div>
    <div class="carousel-item">
      <img src="/img/h5.jpg" class="car">
    </div>
    <div class="carousel-item">
      <img src="/img/h6.jpg" class="car">
    </div>
    <div class="carousel-item">
      <img src="/img/h7.jpg" class="car">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <div id="change">
  <form id="sign" action="/">
    <h2>Change Password</h2>
   <div class="inp">
     <input type="password" name="password1" id="pass" placeholder="Password">
   </div>
   <div class="inp">
     <input type="password" name="password2" id="cpass" placeholder="Confirm Password">
   </div>
   <button type="submit" id="sub">Submit</button>
   <br><br>
  </form>
  </div>
  </div>
  <script src="/js/password.js"></script>
  </body>
</html>